/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Raleway&display=swap');
@import "/components/loader.css";

h1, h2, h3, h4, nav {
    font-family: 'Kumbh Sans', sans-serif;
}
p {
    font-family: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

html{
    height: 100%;
}

a {
    text-decoration: none;
}

nav ul li{
    display: inline-block;
    padding-left: 1em;
}

nav ul li a:hover {
    opacity: .7;
}

ul {
    list-style: none;
    
}

.active {
    font-weight: bold;
}


/* Contact form */
.formError {
    display: none;
    color: red;
}

#contactForm input {
    margin-top: 1em;
    padding: 1em;
    border-radius: 2px;
    border-color: #808080;
    width: 100%;
    
    
}

.button {
    margin-top: 10px;
}


/* Index page */
.drinkContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.drinkContainer a {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;    
    background-color: #808080;
    margin: 10px;
    width: 250px;
    max-width: 250px;
    border-radius: .4em;
}

.drinkContainer a:hover {
    opacity: .8;
}

/* Details page */

.brewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: #808080;
    
}