
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Raleway&display=swap');
@import '/stian-strand-js1-ca/css/components/loader.css';

* {
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}


h1, h2, h3, h4, nav {
    font-family: 'Kumbh Sans', sans-serif;
}
p {
    font-family: 'Raleway', sans-serif;
}


a {
    text-decoration: none;
}
/*----- Navigation ----- */
nav ul li{
    display: inline-block;
    padding-left: 1em;
}

nav ul li a:hover {
    opacity: .7;
}

ul {
    list-style: none;
    
}

.active {
    font-weight: bold;
}

/* Sticky footer */
footer {
    flex-shrink: 0;
}

/* Index page */
.drinkContainer {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    flex-wrap: wrap;

}

.drinkContainer a {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;    
    background-color: #808080;
    margin: 10px;
    width: 250px;
    max-width: 250px;
    border-radius: .4em;
}

.drinkContainer a:hover {
    opacity: .8;
}

/* Details page */

.brewContainer {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
    background-color: #808080;
    
}

/* Contact form */
.formError {
    display: none;
    color: red;
}

#contactForm {
    max-width: 800px;
    margin: 0 auto;
}

#contactForm input {
    margin-top: 1em;
    padding: 1em;
    border-radius: 2px;
    border-color: #808080;
    width: 500px;
    
    
    
}

button {
    margin-top: 10px;
    border-radius: 2px;
    padding: 5px 10px;
    border-color: none;
    color: white;
    background-color: #808080;
    font-family: inherit;
    font-size: 100%;
}

button:hover {
    opacity: .8;
    cursor: pointer;
}